### Default ###
vendor/
!/resources/views/vendor/
node_modules/
bower_components/
npm-debug.log

### Laravel 4 specific ###
bootstrap/compiled.php
app/storage/
storage/
!storage/.gitignore

### Laravel 5 & Lumen specific ###
public/storage
public/docs
public/hot
storage/*.key
.env.*.php
.env.php
.env
Homestead.yaml
Homestead.json

### Rocketeer PHP task runner and deployment package. https://github.com/rocketeers/rocketeer ###
.rocketeer/

### NetBeans ###
nbproject/
nbbuild/
nbdist/
.nb-gradle

### Sublime ###
sftp-config.json

### VSCode ###
.vscode

### PHPStorm ###
.idea/
xdebug-*/

### MySQL ###
dump.sql
mysql-apt-config*.deb
sftp-config.json.example

### Logs ###
worker_*.log.*
worker_*.log*
worker*.log*
horizon*.log
sendgrid*.env

### Vagrant ###
.vagrant

### Others ###
public/backup/**
public/backup_mysql/
*.db
laravel-worker*
projeto/core
auth.json
storage/framework/cache/data/.gitignore
*.icloud
*.DS_Store
.DS_Store
package-lock.json
#composer.lock
public/mix-manifest.json
